exportPattern("^[[:alpha:]]+")
importFrom("stats", "ave")
importFrom("utils", "read.csv")
importFrom("utils", "data")
importFrom("utils", "combn")
import("Biostrings")
importFrom("utils", "flush.console", "read.table", "write.table")
importFrom("methods", "is")
import("BSgenome.Hsapiens.UCSC.hg19")
